@model ntc.Models.Customer

@{
    Layout = null;
}

<h2>custdetails</h2>

<html>
<head>
    <h1>customer details</h1>
</head>
<body>
   CUSTOMER ID:@Model.custid

    CUSTOMER NAME:@Model.custname

    CUSTOMER SALARY:@Model.custsal
</body>
</html>