
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>razorpractice</title>
</head>
<body>
    <div> 

        @*Comments -------*@
        hi now the time is:@@11:30PM

        @{ 

            int age = 18;
            if (age > 18)
            {
                <p>major</p>
            }
            else
            {
                <p>minor</p>
            }
        }

        now the time is:@DateTime.Now.Date.ToString();

        @{ 
            string[] a = { "raj", "bat", "san", "sam" };

            foreach(string i in a)
            {
                <p>@i</p>
            }

        }
        length of an array is:@a.Length
    </div>
</body>
</html>
