
@{
    ViewBag.Title = "layoutfile2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderBody()
<h2>layoutfile2</h2>

@*ender body is afunction in layout pages which renders the portion of a content page that is not in the shared 
section it returns the html content.So renderbody() is required if you want to refer a view which is customised*@